<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aplikar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aplikar">
        <activity
            android:name=".Hasil"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Identitas" 
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".TahapTiga"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TahapDua"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TahapSatu"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Karier"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Petunjuk"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Biografi"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Tentang"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MenuUtama"
            android:screenOrientation="landscape" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>